resources/data/sampledata.2.csv filter=lfs diff=lfs merge=lfs -text
resources/data/sampledata.3.csv filter=lfs diff=lfs merge=lfs -text
resources/data/sampledata.0.csv filter=lfs diff=lfs merge=lfs -text
resources/data/sampledata.1.csv filter=lfs diff=lfs merge=lfs -text
resources/data/sampledata.csv filter=lfs diff=lfs merge=lfs -text
resources/data/event000001000-particles.csv filter=lfs diff=lfs merge=lfs -text
